body {
  background-color: lightgray;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  font-size: 4em;
  margin: 50px;
}

.card-text,
.card-title {
  font-family: "Bitter", serif;
}

#cart-header,
#cart-total,
#cart-title {
  text-align: center;
}

#discount-button{
    text-align: center;
}

/* #bookCard {
  margin-left: 25px;
} */

/* .cart-item {
    width: auto;
} */